@import "../templateDeColores/mercadoLibreColorPaletaDefault.scss";
@import "./../breakpoints/breakpoints";
$IIMAGEN_TAMAÑO_CHICO: 90px;
$IIMAGEN_TAMAÑO: 120px;

.item-bloque-contenedor {
	border: solid 1px $MELI-BLANCO;
}

.item-bloque-sub-contenedor {
	box-shadow: 0px 1px 11px 0px rgba(54, 54, 54, 0.1);
	-webkit-box-shadow: 0px 1px 11px 0px rgba(54, 54, 54, 0.1);
	-moz-box-shadow: 0px 1px 11px 0px rgba(54, 54, 54, 0.1);
}

.item-bloque-sub-contenedor:hover {
	box-shadow: 0px 1px 11px 0px rgba(54, 54, 54, 0.45);
	-webkit-box-shadow: 0px 1px 11px 0px rgba(54, 54, 54, 0.45);
	-moz-box-shadow: 0px 1px 11px 0px rgba(54, 54, 54, 0.45);
}

.item-bloque-precio-contenedor {
	margin-bottom: 32px;
}

.item-bloque-precio {
	font-size: 14px;
}

@media (min-width: $lg) {
	.item-bloque-precio {
		font-size: 18px;
	}
}

.item-bloque-title {
	font-size: 14px;
}

.item-bloque-contenedor-img {
	width: $IIMAGEN_TAMAÑO_CHICO;
	height: $IIMAGEN_TAMAÑO_CHICO;
	margin: 8px 16px;
	border-radius: 4px;
	overflow: hidden;
}

@media (min-width: $lg) {
	.item-bloque-contenedor-img {
		width: $IIMAGEN_TAMAÑO;
		height: $IIMAGEN_TAMAÑO;
	}
}

.item-bloque-img {
}

.item-bloque-ciudad {
	font-size: 12px;
	color: $MELI-GRIS-2;
}
