@import "../.././templateDeColores/mercadoLibreColorPaletaDefault.scss";

.BreadcrumContainer {
	font-size: 14px;
	margin: 16px 0;
	color: $MELI-GRIS-1;
}

.BreadcrumContainer-a {
	color: $MELI-GRIS-1;
}

.BreadcrumContainer-a:hover {
	color: $MELI-GRIS-2;
}

.BreadcrumContainer-titulo {
	margin-bottom: 16px !important;
}
