/*
**
* PALETA DE COLORES A ENERO 2020
* 
* Se usará en -> "src/assets/css/boostrap/customBoostrap.scss"
* Con el fin de usar la libreria de boostra y ajustar sus colores por defecto.
*
**/

/* S e   u s a   e n  👉  HEADER */
$MELI-AMARILLO: #ffe600;

/* S e   u s a   e n  👉  BOTÓN COMPRAR */
$MELI-AZUL: #3483fa;

/* B l a n c o s   a   N e g r o s */
$MELI-BLANCO: #eeeeee;
$MELI-GRIS-0: #999999;
$MELI-GRIS-1: #666666;
$MELI-GRIS-2: #333333;
